body {
  font-family: "Avenir Next";
  margin-right: auto;
  margin-left : auto;
}

li {
  list-style: none;
  /* floatプロパティをleftにしてください */
  float: left;
  
}

#header {
  text-align: center;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
}

#main {
  background-color: #ffffff;
  color: #000000;
  height: 1500px;
  text-align: center;
  margin:0; 
}

#NEO_MOLKKY {
  font-size: 40px;
  padding:-1000px;  
}

#main_text {
  padding:0px;  
}

#footer {
  background-color: #006e00;
  height: 90px;
}

 	
h1 { margin-bottom:0px;}
p { margin-top:0px;}