body {
  font-family: "Avenir Next";
  margin-right: auto;
  margin-left : auto;
}

li {
  list-style: none;
  /* floatプロパティをleftにしてください */
  float: left;
  
}

#header {
  text-align: center;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
}

#main {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin:0; 
}

#NEO_MOLKKY {
  font-size: 40px;
  padding:-1000px;  
}

#main_text {
  padding:0px;  
}

#footer {
  background-color: #006e00;
  height: 90px;
}

 	
h1 { margin-bottom:0px;}
p { margin-top:0px;}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 1350px;
	height: 750px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}