body {
  font-family: "Avenir Next";
  margin-right: auto;
  margin-left : auto;
}

li {
  list-style: none;
  /* floatプロパティをleftにしてください */
  float: left;
  
}

#header {
  text-align: center;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
}

#main {
  color: #000000;
  text-align: center;
  margin-top:-25px; 
}

#NEO_MOLKKY {
  font-size: 40px;
  padding:-1000px;  
}

#shot {
	font-size: 25px;
  padding:-1000px;
}

#hr1 {
	border-top: 3px solid #000;
  width: 80%;
}

#main_text {
  padding:0px;  
}

#real12e {
	font-family: "Avenir Next";
  margin-right: auto;
  margin-left : auto;
  text-align: center;
}

#footer {
  background-color: #006e00;
  height: 90px;
}

 	
h1 { margin-bottom:0px;}
p { margin-top:0px;}

.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 1350px;
	height: 750px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.table {
	display:table;
	margin-left: auto;
    margin-right: auto;
}
.table > .cell {
	display:table-cell;
	width:30%; /*幅を100%に*/
	table-layout:fixed; /*中の要素の幅を均等に*/
	padding:10px;
	
}

#foot_text{
	display:inline;
}