body {
  font-family: "Avenir Next";
  margin-right: auto;
  margin-left : auto;
}

li {
  list-style: none;
  /* floatプロパティをleftにしてください */
  float: left;
  
}

#header {
  text-align: center;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
}

#main {
  background-color: #ffffff;
  height: 600px;
}

#footer {
  background-color: #006e00;
  height: 90px;
}